---
layout: default-layout
title: Issue Catalog
active: Catalog
permalink: catalog
---

<link rel="stylesheet" type="text/css" href="assets/css/catalog-styles.css">

<div id="main-section">

	<div class="row">

		{% assign sorted = site.issues | sort:"num" | reverse %}
		{% for issue in sorted %}
			<div class="col-md-4 col-sm-6">
				<h2>Issue #{{ issue.num }}</h2>

				<img class="issue-cover" onclick="window.open('{{ site.url }}{{ site.baseurl }}{{ issue.url }}.html')" 
				 src="{{ site.baseurl }}/assets/images/covers/{{ issue.img }}" width="120px">

				<h2>{{ issue.title }}</h2>

				<!-- <p>{{ issue.summary | markdownify }}</p> -->
			</div>

			{% if issue.num == 15.1 %}
			<div class="col-12">
			<hr>
			<h3>The St. Lawrence University Collection; Joe David Bellamy, Editor in Chief.</h3>
			<p>According to his recent memoir, <i>The Lost Saranac Interviews: Forgotten Conversations with Famous Writers</i>, Joe David Bellamy founded the Fiction International magazine and press, the St. Lawrence Award for Fiction, and the Saranac Writer’s Conference. His association with <i>Fiction International</i> ended in 1980, when he realized he "had spent the decade of the seventies engaged in far too many activities that began to seem by 1980 to be a distraction from my true purpose in life…"</p>
			<p>These first five issues weren’t exclusively fiction: They included interviews, critiques, poetry, prose poems, and reviews.</p>
			<p>Nevertheless, his decade’s output of fiction reflects the range of young, talented writers and editors he attracted to the Saranac Writers Conference and to St. Lawrence University, including (but not limited to): Jerry Bumpus, Tess Gallagher, Gary Snyder, and Asa Baber (2/3); Joyce Carol Oates, Walter Abish, Larry McCaffery, and Jerome Klinkowitz (4/5); Russell Banks, Robley Wilson, Jr., and Clarke Blaise (6/7). He then changed his editorial strategy to devoting one entire issue to a single writer: Robley Wilson, Jr. (8/9) and Asa Baber (10/11).</p>
			<p>New (not used) copies of the first five issues of the St. Lawrence University Collection can be purchased <b>exclusively through this website</b>. They are not available on Amazon or St. Lawrence University Press or any other venue. If you are interested in reading work inspired and influenced by the writers attending the Saranac Conference (like Margaret Atwood, Ann Beattie, Carolyn Forché and John Hawkes), you will want to read one.</p>
			</div>
			{% endif %}

		{% endfor %}
		
	</div>

</div>