<head>
<meta charset="utf-8">
<title>
  {{ site.title }}
  {% if page.title %}
    - {{ page.title }}
  {% endif %}
</title>

<meta name="title=" content="Fiction International">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Formal innovation. Social activism.">
<meta name="keywords" content="fiction international, journal, literary journal, literary journals, best journals, experimental journalism">

<meta name="theme-color" content="#A90808">
<meta name="msapplication-navbutton-color" content="#A90808">
<meta name="apple-mobile-web-app-status-bar-style" content="#A90808">


<link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/fi-icon.png">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|Josefin+Sans|Lora&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- CDNs: jquery, fontawesome, bootstrap
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
-->

<!-- local links -->
<link rel="stylesheet" href="{{'assets/css/common-styles.css' | relative_url }}">
<script async type="text/javascript" src="{{ 'assets/js/common-scripts.js' | relative_url }}"></script>

</head>