<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" role="navigation">
	<a id="home-img" class="navbar-brand" href="#">
		<!-- <img src="{{ './assets/images/fi-logo-white-simple.png' | prepend: site.baseurl }}" -->
		<img src="{{site.baseurl}}/assets/images/fi-logo-white-simple.png"
		onerror="this.src='../assets/images/fi-logo-white-simple.png'" 
		{% if page.active!='Home' %}

			onclick="window.open('{{ '/index.html' | prepend: site.baseurl }}', '_self');"
		{% endif %}
		width="192px">
	</a>

<!-- 			onclick="window.open('{{ site.baseurl }}/index.html', '_self');"
			onclick="window.open('{{ './index.html' | prepend: site.baseurl }}', '_self');"
			onclick="window.open('{{ 'index.html' | prepend: site.baseurl }}', '_self');" -->

	<i id="search-close" class="hidden fas fa-times fa-2x"></i>

	<form id="search-form" class="hidden form-inline">
		<div class="input-group">
			<input id="search" class="form-control" type="search" placeholder="Search our issues..." aria-label="Search">

			<!-- <div class="input-group-append">
				<button class="btn btn-light" type="submit" title="Search"><i class="fas fa-search"></i></button>
			</div> -->

		</div>
	</form>

	<!-- uncomment below line for search -->
	<!-- <i class="search-icon fas fa-search fa-2x"></i> -->

<!-- 	{% if page.active!='Home'%}
		<b style="color:#fff">{{page.title}}</b>
	{% endif %} -->



	<button id="menu-btn" class="navbar-toggler navbar-dark" type="button" title="Menu" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
		<i id="menu-icon" class="fas fa-bars"></i>
	</button>

	<div class="collapse navbar-collapse" id="navbar-content">
		<ul class="navbar-nav mr-auto">

			<li class="nav-item">
				<a class="nav-link {% if page.active=='Home' %} active {% endif %}"
				{% if page.active!='Home' %}
					href="{{ site.baseurl }}/index.html"
				{% endif %}
				>
				<!-- <i class="fas fa-home"></i>  -->
				Home</a>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link {% if page.active=='About' %} active {% endif %} dropdown-toggle" href="#" id="about-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<!-- <i class="fas fa-info"></i>  -->
				About
				</a>
				<div class="dropdown-menu" aria-labelledby="about-dropdown">
					<a class="dropdown-item" href="{{ site.baseurl }}/about.html">
						<!-- <i class="fas fa-book-open"></i>  -->
					About the Journal</a>
					<a class="dropdown-item" href="{{ site.baseurl }}/masthead.html">
						<!-- <i class="fas fa-users"></i>  -->
					Masthead</a>
					<a class="dropdown-item" href="{{ site.baseurl }}/submit.html">
						<!-- <i class="fas fa-paper-plane"></i>  -->
					Submit</a>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link {% if page.active=='Catalog' %} active {% endif %}"
					href="{{ site.baseurl }}/catalog.html">
					<!-- <i class="fas fa-book"></i>  -->
				Catalog</a>
			</li>

			<li class="nav-item">
				<a class="nav-link {% if page.active=='Subscribe' %} active {% endif %}"
					href="{{ site.baseurl }}/subscribe.html">
					<!-- <i class="fas fa-heart"></i>  -->
				Subscribe</a>
			</li>

			<!-- todo: add blog -->
			<li class="nav-item">
				<a class="nav-link {% if page.active=='Blog' %} active {% endif %}"
					href="#">
					<!-- href="{{ site.baseurl }}/blog.html"> -->
					<!-- <i class="fas fa-glasses"></i>  -->
				Blog</a>
			</li>

		</ul>

	</div>

	<div id="nav-icons-div">
		{% for item in site.data.social %}
			<a title="{{ item.name }}" class="social-link" href="{{ item.url }}" target="_blank">
				<i class="{{ item.icon }} fa-2x social-icon"></i>
			</a>
		{% endfor %}
	</div>

</nav>

{% if page.title %}
	<div class="jumbotron text-center">
		
	<h1><br><b> {{ page.title }} </b></h1>
	</div>
{% endif %}