/*
#A90808
*/
* {
	font-family: 'Lora', serif;
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Abril Fatface', cursive;*/
	/*font-family: 'Amatic SC', cursive;*/
}
img, button, br {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	-khtml-user-drag: none;
	-webkit-user-drag: none;
}

html {
	background-color: #333 !important;
}

::-moz-selection {
	background: #ccc !important;
}
::selection {
	background: #ccc !important;
}

.jumbotron {
	padding-top: 120px;
	border-radius: 0;
	background-image: url('../images/circles.jpg');
	/*filter:brightness(200%);*/
	background-size: cover;
	background-position: center;
	color: #fff;
}
#main-section {
	margin: 50px;
}
.page-title {
	font-size: 150%;
	text-align: center;
}

/* nav */
.navbar {
	background-color: #333 !important;
	padding: 0px;
	margin: 20px;
	border-radius: 20px;
}
.nav-link {
	font-size: 110%;
	margin-left: 15px;
	cursor: pointer;
	color: #ccc !important;
}
.nav-link:hover {
	color: #fff !important;
}
.nav-link.active {
	color: #A90808 !important;
}
.hidden {
	display: none;
}
.social-link:hover {
	text-decoration: none;
}

.social-icon, .search-icon, #search-close {
	font-size: 24px !important;
	color: #fff;
	cursor: pointer;
	width: 36px;
	transition: color 0.2s linear;
}
a, a:hover, .social-icon:hover, .search-icon:hover, #search-close:hover, .dropdown-item:hover {
	color: #A90808;
}
.search-icon {
	margin-left: 10px;
}
#search-close {
	margin-right: 10px;
}

/* footer */
.page-footer {
	text-align: center;
	background-color: #333;
	color: #fff;
}


.dropdown-menu {
	border: 1px solid #333;
}
.dropdown-item {
	padding: 10px;
}
.dropdown-item:hover {
	background-color: transparent; /*override bootstrap*/
}
.dropdown-item:not(:last-child) {
	border-bottom: 1px solid #999;
}

#nav-icons-div {
	margin-right: 20px;
}

/*media queries*/
@media (max-width: 1200px) { /* bootstrap lg */

}
@media (max-width: 992px) { /* bootstrap md */
	/* breakpoint for .navbar-expand */

	.social-icon, .search-icon, #search-close {
		width: 32px;
		margin: 12px;
	}
	
	#menu-btn {
		margin-right: 20px;
	}

	#main-section {
		margin-top: 200px !important;
	}

}
@media (max-width: 768px) { /* bootstrap sm */

}
@media (max-width: 576px) { /* bootstrap xs */

}