/*
#A90808
*/
* {
	font-family: 'Lora', serif;
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Abril Fatface', cursive;*/
	/*font-family: 'Amatic SC', cursive;*/
}
img, button, br {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	-khtml-user-drag: none;
	-webkit-user-drag: none;
}

::-moz-selection {
	background: #ccc !important;
}
::selection {
	background: #ccc !important;
}

.jumbotron {
	margin-top: 20px;
}
#main-section {
	margin: 50px;
	margin-top: 150px;
}

/* nav */
.navbar {
	padding: 0px;
}
.nav-link {
	font-size: 110%;
	margin-left: 15px;
	cursor: pointer;
	color: #ccc !important;
}
.nav-link:hover {
	color: #fff !important;
}
.nav-link.active {
	color: #A90808 !important;
}

.social-link:hover {
	text-decoration: none;
}

.social-icon, .search-icon {
	font-size: 24px !important;
	color: #fff;
	cursor: pointer;
	width: 36px;
	transition: color 0.2s linear;
}
.social-icon:hover, .search-icon:hover {
	color: #A90808;
}

/* footer */
.page-footer {
	text-align: center;
	background-color: #333;
	color: #fff;
}


#search-icon-1 {
	display: inline !important;
}
#search-icon-2 {
	display: none !important;
}



/*#nav-icons-div {}*/

/*media queries*/
@media (max-width: 1200px) { /* bootstrap lg */

}
@media (max-width: 992px) { /* bootstrap md */
	/* breakpoint for .navbar-expand */
	#search-icon-1 {
		display: none !important;
	}
	#search-icon-2 {
		display: inline !important;
	}
	.social-icon, .search-icon {
		width: 32px;
		margin: 12px;
	}
	
	#menu-btn {
		margin-right: 20px;
	}

}
@media (max-width: 768px) { /* bootstrap sm */

}
@media (max-width: 576px) { /* bootstrap xs */

}