#main-section {
	background-image: url('https://fictioninternational.sdsu.edu/wordpress/wp-content/uploads/Chengdu-Olaya-Barr.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 768px;
	/*min-height: 578px;*/
	margin: 0;
	/*margin-top: 100px;*/
	padding-top: 150px;
}
#inner-div {
	background-color: rgba(255, 255, 255, 0.2);
}
#main-section h1 {
	font-size: 400%;
	color: #fff;
	/*text-shadow: 2px 2px 1px #A90808;*/
}
#main-section h3 {
	font-size: 200%;
	/*color: #A90808;*/
	color: #fff;
	/*text-shadow: 1px 1px 1px #fff;*/
}
#body-btn {
	background-color: #A90808;
	color: #fff;
	border-radius: 20px;
}
#body-btn:hover {
	/*text-decoration: underline;*/
	box-shadow: 4px 4px 1px #ccc;
}

@media (max-width: 992px) { /* bootstrap md */
	#main-section {
		padding-top: 0px;
	}
	#inner-div {
		padding-top: 20px;
	}
}