.issue-cover {
	box-shadow: 8px 8px 2px #333;
}

/*media queries*/
@media (max-width: 1200px) { /* bootstrap lg */

}
@media (max-width: 992px) { /* bootstrap md */
	/* breakpoint for .navbar-expand */

}
@media (max-width: 768px) { /* bootstrap sm */

}
@media (max-width: 576px) { /* bootstrap xs */

}